body {
    font-family: sans-serif;
    background: url(https://static.pexels.com/photos/1380/black-and-white-city-skyline-buildings.jpg);
    margin-top: 75px;
}

.center {
    text-align: center;
    color:red;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px; 
}
.icon{
    width: 2000px;
    height: 60px;
    background-color:ghostwhite; ;
    position:absolute;
    left:1px;
    top:10px;
    right:1px;
    
}
.medium{
    height:20px;
}
.container{
    width:800px;
    height:800px;
    font:san-sharif;
    margin:0 auto;
    background-color:teal;
    color:gainsboro;
    padding-top:20px;
    padding-left:40px;
    padding-right:40px;
}
ul{
    list-style-type:none;
    margin:10;
    padding:50;
}
li{
    display:inline;
    text-color:red;
    padding: 80px;
    text-transform: uppercase;
    
}
a{
    color:chocolate;
}
   

